<h1>StarTup UCB - Lista de Ideas</h1>

<form (ngSubmit)="addIdea()" >
  <label for="select">Titulo: </label>
  <input [(ngModel)]="tituloInput" name="_itulo" placeholder="Título" /><br />
  <label for="select">Descripcion: </label>
  <textarea [(ngModel)]="descripcionInput" name="descripcion" placeholder="Descripción detallada" ></textarea><br />
  <label for="select">Categoria:</label>
  <select [(ngModel)]="categoriaInput" name="estado">
    @for (categoria of listacategorias; track $index) { 
        <option>{{categoria}}</option>     
    }
  </select><br />
  <label for="select">Estado:</label>
  <select [(ngModel)]="estadoInput" name="estado">
    <option>Borrador</option>
    <option>Validando</option>
    <option>Descartada</option>
  </select><br />
  @if (modoEditar) {
    <button type="submit" >Guardar Cambios</button>
  }
  @else {
    <button type="submit">Añadir Idea</button>

  }
</form>

<hr />

<h2>Ideas registradas</h2>
<ul>
  @for (idea of ideas; track $index) {
    <h3>{{idea._titulo}}</h3>
    <p><strong>Descripcion:</strong> {{idea._descripcion}}</p>
    <p><strong>Categoria:</strong>{{idea._categoria}}</p>
    <p><strong>Estado:</strong> {{idea._estado}}</p>
    <button (click)="editarIdea(idea)">Editar</button>
    <button (click)="eliminarIdea(idea._id)">Eliminar</button>
  }
</ul>